# Introduction to sqlAlchemy

<ol>
    <li>SQLAlchemy is a popular SQL toolkit and Object Relational Mapper. It is written in Python and gives full power and flexibility of SQL to an application developer.</li>
    <li>Open source cross platform software</li>
    <li>SQLAlchemy is famous for its object-relational mapper (ORM), using which, classes can be mapped to the database, thereby allowing the object model and database schema to develop in a cleanly decoupled way from the beginning.</li>
    <li>Michael Bayer is the original author of SQLAlchemy.</li>
</ol>

### What is ORM?
ORM (Object Relational Mapping) is a programming technique for converting data between incompatible type systems in object-oriented programming languages. Usually, the type system used in an Object Oriented (OO) language like Python contains non-scalar types. These cannot be expressed as primitive types such as integers and strings. Hence, the OO programmer has to convert objects in scalar data to interact with backend database. However, data types in most of the database products such as Oracle, MySQL, etc., are primary.

In an ORM system, each class maps to a table in the underlying database. Instead of writing tedious database interfacing code yourself, an ORM takes care of these issues for you while you can focus on programming the logics of the system.

In [7]:
import sqlalchemy

In [8]:
print(sqlalchemy.__version__)

1.3.1

For example, if you are using PyMySQL driver with MySQL, use the following command âˆ’

mysql+pymysql://<username\>:<password\>@<host\>/<dbname\>

The create_engine() function takes the database as one argument.

In [9]:
engine = db.create_engine('sqlite:///test.db', echo=True)

Metadata contains definitions of tables and associated objects such as index, view, triggers, etc.

Hence an object of MetaData class from SQLAlchemy Metadata is a collection of Table objects and their associated schema constructs. It holds a collection of Table objects as well as an optional binding to an Engine or Connection.

In [11]:
from sqlalchemy import MetaData

In [18]:
metadata = MetaData()

Metadata contains definitions of tables and associated objects such as index, view, triggers, etc.

Hence an object of MetaData class from SQLAlchemy Metadata is a collection of Table objects and their associated schema constructs. It holds a collection of Table objects as well as an optional binding to an Engine or Connection.

In [19]:
from sqlalchemy import MetaData, Table, Column, Integer, String

In [23]:
students = Table(
   'students2', metadata, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
metadata.create_all(engine)
# create_all function uses the engine object to create all defined tables and stores information in metadata.

2020-03-04 10:06:05,563 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-03-04 10:06:05,564 INFO sqlalchemy.engine.base.Engine ()
2020-03-04 10:06:05,568 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-03-04 10:06:05,569 INFO sqlalchemy.engine.base.Engine ()
2020-03-04 10:06:05,573 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("students")
2020-03-04 10:06:05,578 INFO sqlalchemy.engine.base.Engine ()
2020-03-04 10:06:05,581 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("students2")
2020-03-04 10:06:05,583 INFO sqlalchemy.engine.base.Engine ()
2020-03-04 10:06:05,586 INFO sqlalchemy.engine.base.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2020-03-04 10:06:05,588 INFO sqlalchemy.engine.base.Engine ()
2020-03-04 10:06:05,750 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-04 10:06:05,753 INFO sqlalchemy.engine.base.Engine
CREATE TABLE students2 (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2020-03-04 10:06:05,757 INFO sqlalchemy.engine.base.Engine ()
2020-03-04 10:06:05,862 INFO sqlalchemy.engine.base.Engine COMMIT

In [32]:
# Insert into Table 
st1 = students.insert()
st1 = students.insert().values(id=1,name="Mohan",lastname="Singh")

In [34]:
conn=engine.connect()

In [36]:
result=conn.execute(st1)

2020-03-04 10:19:44,438 INFO sqlalchemy.engine.base.Engine INSERT INTO students2 (id, name, lastname) VALUES (?, ?, ?)
2020-03-04 10:19:44,444 INFO sqlalchemy.engine.base.Engine (1, 'Mohan', 'Singh')
2020-03-04 10:19:44,447 INFO sqlalchemy.engine.base.Engine COMMIT

In [37]:
# Insert many data
conn.execute(students.insert(), [
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

2020-03-04 10:24:05,911 INFO sqlalchemy.engine.base.Engine INSERT INTO students2 (name, lastname) VALUES (?, ?)
2020-03-04 10:24:05,914 INFO sqlalchemy.engine.base.Engine (('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2020-03-04 10:24:05,916 INFO sqlalchemy.engine.base.Engine COMMIT

In [38]:
# Selecting Rows
s = students.select()
result = conn.execute(s)
for i in result:
    print(i)

2020-03-04 10:37:38,794 INFO sqlalchemy.engine.base.Engine SELECT students2.id, students2.name, students2.lastname
FROM students2
2020-03-04 10:37:38,797 INFO sqlalchemy.engine.base.Engine ()
(1, 'Mohan', 'Singh')
(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

In [40]:
# how to use clause (here 'where')
s = students.select().where(students.c.id>2) # Here 'c' is alias (mandatory) for column
result = conn.execute(s)
for i in result:
    print(i)

2020-03-04 10:40:19,817 INFO sqlalchemy.engine.base.Engine SELECT students2.id, students2.name, students2.lastname
FROM students2
WHERE students2.id > ?
2020-03-04 10:40:19,820 INFO sqlalchemy.engine.base.Engine (2,)
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

In [43]:
# Update table
u = students.update().where(students.c.lastname=='Khanna').values(lastname='Khan')
conn.execute(u)
s = students.select()
conn.execute(s).fetchall()

2020-03-04 10:48:57,724 INFO sqlalchemy.engine.base.Engine UPDATE students2 SET lastname=? WHERE students2.lastname = ?
2020-03-04 10:48:57,727 INFO sqlalchemy.engine.base.Engine ('Khan', 'Khanna')
2020-03-04 10:48:57,730 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-04 10:48:57,917 INFO sqlalchemy.engine.base.Engine SELECT students2.id, students2.name, students2.lastname
FROM students2
2020-03-04 10:48:57,919 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Mohan', 'Singh'),
 (2, 'Rajiv', 'Khan'),
 (3, 'Komal', 'Bhandari'),
 (4, 'Abdul', 'Sattar'),
 (5, 'Priya', 'Rajhans')]

In [44]:
# Delete from table
d = students.delete().where(students.c.id == 5)
conn.execute(d)
s = students.select()
conn.execute(s).fetchall()

2020-03-04 10:52:02,066 INFO sqlalchemy.engine.base.Engine DELETE FROM students2 WHERE students2.id = ?
2020-03-04 10:52:02,076 INFO sqlalchemy.engine.base.Engine (5,)
2020-03-04 10:52:02,078 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-04 10:52:02,276 INFO sqlalchemy.engine.base.Engine SELECT students2.id, students2.name, students2.lastname
FROM students2
2020-03-04 10:52:02,278 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Mohan', 'Singh'),
 (2, 'Rajiv', 'Khan'),
 (3, 'Komal', 'Bhandari'),
 (4, 'Abdul', 'Sattar')]

So, this is basics of sqlalchemy, how we can handle database in a pythonic way.

# Thank you